[submodule "pcb/orthmygoat/MX_Alps_Hybrid.pretty"]
	path = pcb/orthmygoat/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "pcb/orthmygoat/random-keyboard-parts.pretty"]
	path = pcb/orthmygoat/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
